<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Examen_de__Reposición_by_Kim.Properties.Settings.db_parque_vehicular_Funes_KimberlyConnectionString"
            connectionString="Data Source=LAPTOP-SFB2UITR;Initial Catalog=db_parque_vehicular_Funes_Kimberly;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>